<!DOCTYPE html>
<html ng-app="pokerApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Card Game</title>
    <script src="index.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script>

        // for using angular, I need a module, so Im creating it
        var pokerApp = angular.module('pokerApp', []);
        // two inputs - 1) name of the module, 2) dependencies / other modules that
        // pokerApp needs to work with

        // MVC - Model View Controller
        // Model - information
        // View - what is shown to the user
        // Controller - To have business logic

        // Controllers are defined on modules by using the .controller() method
        // This method takes two inputs
        // 1) Name of the controller
        // 2) A function that defines the controller
        // The function in turn takes a special object called $scope

        pokerApp.controller('PokerCtrl', function($scope){
            // All model information goes into the $scope object as properties
            $scope.type_of_game = 'This is a poker game...';
            $scope.table = table;
            $scope.deck = deck;
        });



    </script>
</head>
<body>

    <div ng-controller="PokerCtrl">
        <div>
            <!--This div shows the type of the game-->
            {{type_of_game}}
        </div>
        <div class="players">
            <div ng-repeat="player in table.players">
                {{player.name}}
                <ul class="players_cards">
                    <li ng-repeat="card in player.cards">
                        {{card.toString() + ' ,imgString: ' + card.toImgString()}}
                        <img ng-src="{{'img/' + card.toImgString()}}"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="deck">
            <div ng-repeat="card in deck.cards">
                {{card.toString()}}
            </div>
        </div>
    </div>

</body>
</html>